/* Default styles */
.banner-head-text {
    padding-top: 5rem;
  }
  
  .head-line {
    font-size: 2rem;
  }
  
  /* Mobile view adjustments */
  @media (max-width: 767px) {
    .banner-head-text {
      padding-top: 2rem;  /* Reduced padding for mobile view */
    }
  
    .head-line {
      font-size: 1.5rem;  /* Adjusted font size for mobile */
    }
  }
  